*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

body{
    width: 100%;
}

.cabeçalho{
    display: flex;
    background-color: #85342e;
    padding: 20px;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    
    
}

.cabeçalho a{
    color: white;
    opacity: 0.4;
    font-size: 29px;
    display: block;
    text-decoration: none;
    
    
}

.cabeçalho :hover{
 opacity: 1;

}

#logo{
    display: flex;
    text-align: center;
    padding: 3px;
    height: 85vh;
}

button{
    justify-content: space-between;
     align-items: center;
     background-color:#85342e;
     font-size:larger;
     width: 400px;
     border-radius: 20px;
     height: 100px;
     color: antiquewhite;
 }

.botoes{
    
    display: flex;
    padding-left: 30px;
    text-decoration: none;
}

.botoes a{
    text-decoration: none;
    color: white;
    opacity: 0.4;
}

.card-produto{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  box-shadow: 2px 2px 5px darkgrey;
  margin-bottom: 8px;
  margin-top: 8px;
}

#congelados-menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 50%;
  column-gap: 5px;
  margin: 5px;
  overflow: auto;
  width: 20px;
  padding: 30px 30px 30px;
  height: 30px;
  grid-column: 1 / -1;
  align-items:stretch;
  justify-content: space-between;
}

.comidaCongelada{
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    column-gap: 20px;
    margin: 20px;
    overflow: auto;
    
}

.doces{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    margin: 20px;
    
}

.marmita{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    margin: 20px;
    
}

.higiene{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    margin: 20px;
    
}

.content{
    align-items: center;
    height: 20%;
}

.title-congelados{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: rgb(194, 181, 181);

}
.title-doces{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: rgb(194, 181, 181);
}

.title-marmita{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: rgb(194, 181, 181);
}

.title-higiene{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: rgb(248, 247, 247);
}

.produtos-menu{
    display:flex;
    justify-content: space-around;
    width:100%;
    column-gap: 100px;
    flex-wrap: wrap;
    
}

#apresentacao{
    position: absolute;
    overflow: auto;
    
    

}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
    font-family: 'Raleway', sans-serif;

}

.descricao h2{
    font-size: 30px;
    background-color: rgb(194, 181, 181);
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.contatos{
    font-size: 30px;
}

.paragrafoQuemSomos{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding: 15px;
    
}

footer{
    display: flex;
    align-items: center;
    background-color:#85342e ;
    width: 100%;
    height: 70px;
    flex-direction: column;
    padding: 5px;
}

.imagem-redeSocial{
   height: 30px;
   border-radius: 50%;
   margin: 0 5px;
}

.redeSocialImg{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.redeSocialImg ul{
    display: flex;
    list-style: none;
}
.imagem-produto{
   height: 300px;
   border-radius: 50%;
   margin: 20px 20px 20px;
   width:300px;
   

}
